<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  <link href='{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/fonts.css' rel='stylesheet' type='text/css'>

  {% if USE_LESS %}
    <link rel="stylesheet/less" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.less">
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/less.min.js" type="text/javascript"></script>
  {% else %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/style.min.css">
  {% endif %}

  {% if USE_PYGMENTS %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygments/{{ PYGMENTS_STYLE|default('github') }}.min.css">
  {% endif %}

  {% if USE_FONT_AWESOME %}
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/font-awesome/css/font-awesome.min.css">
  {% endif %}

  {% if CUSTOM_CSS %}
    <link href="{{ SITEURL }}/{{ CUSTOM_CSS }}" rel="stylesheet">
  {% endif %}

  {% if FAVICON %}
    <link rel="shortcut icon" href="{{ FAVICON }}" type="image/icon">
    <link rel="icon" href="{{ FAVICON }}" type="image/icon">
  {% endif %}

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="{{ ROBOTS }}" />

  {% if BROWSER_COLOR %}
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="{{ BROWSER_COLOR }}">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="{{ BROWSER_COLOR }}">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  {% endif %}

  {% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="description" content="{{ SITEDESCRIPTION }}" />
    {% include "partial/og.html" %}
  {% endblock %}

  <title>{% block title %}{% endblock %} | {{ SITENAME }}</title>
</head>
<body>
  <aside>
    <div>
      <a href="{{ SITEURL }}">
        {% if SITELOGO %}
          <img src="{{ SITELOGO }}" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% else %}
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/img/profile.png" alt="{{ SITETITLE }}" title="{{ SITETITLE }}">
        {% endif %}
      </a>
      <h1><a href="{{ SITEURL }}">{{ SITETITLE }}</a></h1>

      {% if SITESUBTITLE %}<p class="site-subtitle">{{ SITESUBTITLE }}</p>{% endif %}

      <ul class="social">
        {% for name, link in SOCIAL %}
        <li><a class="sc-{{ name }}" href="{{ link }}" target="_blank"><i class="fa fa-{{ name }}"></i></a></li>
        {% endfor %}
      </ul>

      {% if pages or LINKS %}
      <nav>
        <ul class="list">
          <li><a href="{{ SITEURL }}">Home</a></li>

          {% for page in pages|sort(attribute='order') %}
            {% if page.slug != 'index' %}
              <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}

          {% for name, link in LINKS %}
          <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      {% endif %}
    </div>

    <div class="nav-foot">
      <a class="nav-foot-link" href="{{ NAV_FOOT_LINK }}">{{ NAV_FOOT_TEXT }}</a>
    </div>
  </aside>
  <main>
    {% if MAIN_MENU %}
    <nav>
      <a href="{{ SITEURL }}">{{ _('Home') }}</a>

      {% for title, link in MENUITEMS %}
      <a href="{{ link }}">{{ title }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer>
      {% include "partial/copyright.html" %}
    </footer>
  </main>

  {% if GOOGLE_ANALYTICS %}
    {% include "partial/ga.html" %}
  {% endif %}

  {% include "partial/jsonld.html" %}

  {% block additional_js %}{% endblock %}
</body>
</html>
